API/obj/Debug/net5.0/API.assets.cache
API/obj/Debug/net5.0/API.csproj.AssemblyReference.cache
API/appsettings.json
API/bin/Debug/net5.0/API.deps.json
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.exe
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/API.runtimeconfig.dev.json
API/bin/Debug/net5.0/API.StaticWebAssets.xml
API/bin/Debug/net5.0/appsettings.json
API/bin/Debug/net5.0/ref/API.dll
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net5.0/API.AssemblyInfo.cs
API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net5.0/API.dll
API/obj/Debug/net5.0/API.genruntimeconfig.cache
API/obj/Debug/net5.0/API.pdb
API/obj/Debug/net5.0/apphost.exe
API/obj/Debug/net5.0/project.razor.json
API/obj/Debug/net5.0/ref/API.dll
API/obj/Debug/net5.0/staticwebassets/API.StaticWebAssets.Manifest.cache
API/obj/Debug/net5.0/staticwebassets/API.StaticWebAssets.xml
 
